html,
body {
	padding: 0;
	margin: 0;
	background-color: #181021 !important;
	background-image: url('https://odysee-chatter.com/files/img/Streaming.png');
	background-position: top center;
	background-repeat: repeat-y;
	background-size: 1920px;
}

/* Use OS default fonts */
body {
	font-family:
		system-ui,
		-apple-system,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	text-rendering: optimizeLegibility;
	font-feature-settings: 'liga', 'clig', 'kern';
	color: white;
}

div.body {
	position: absolute;
	text-align: center;
	top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.form-group {
	text-align: center;
}

header h1 {
	font-size: 60px;
	font-weight: 200;
	margin: 0;
	padding: 0;
	opacity: 0.7;
}
iframe {
	border: 0;
	margin-left: 10px;
	width: 98%;
	height: 80%;
}
h1 {
	margin-top: -10px;
}

button.nav-link {
	background-color: #181021;
	border-radius: 25px;
	padding: 10px;
	color: white;
	margin-right: 5px;
}
button.nav-link-embeddedcommand {
	background-color: #181021;
	border-radius: 15px;
	padding: 7.5px;
	color: white;
}
li.nav-item {
	margin-top: 4px;
}
li.nav-item.bmac {
	margin-top: 4px;
	position: absolute;
	right: 10px;
}
li.nav-item.lbc {
	margin-top: 4px;
	position: absolute;
	right: 140px;
}
li.nav-item.name {
	margin-top: 4px;
	position: absolute;
	right: 50%;
}
li.nav-item.stats {
	margin-top: 4px;
	position: absolute;
	right: 58%;
}
li.nav-item.settings {
	margin-top: 4px;
	position: absolute;
	right: 40%;
}
li.nav-item.livestreams {
	margin-top: 4px;
	position: absolute;
	right: 30%;
}
nav.navbar {
	background-color: #241c30;
}
ul.navbar-nav {
	list-style-type: none;
}
div.container {
	background-color: #241c30;
	color: white;
}
div#messageContainer.messageContainer {
	overflow:auto;
	overflow-y: none;
	display:flex;
	flex-direction:column-reverse;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
}
div#comment {
	background-color: #241c30;
	color: white;
	word-wrap: break-word;
	margin-top: 2.5px;
	padding: 5px 10px 5px 10px;
	border-radius: 15px;
}
a#streamer {
	color: #e50054;
}
a#moderator {
	color: inherit;
}
a#user {
	color: inherit;
}
div.commandContainer {
	/*background-color: #181021;*/
	background-color: transparent !important;
	color: white;
	width: 100%;
	display: flex;
}
div.commandBlackspace {
	/*background-color: #181021;*/
	background-color: transparent !important;
	padding: 0px 15px 15px 15px;
	flex: 33.33%;
}
div.commands {
	border-radius: 15px;
	background-color: #241c30;
	padding: 10px 15px 10px 15px;

	height: 100%;
	position:relative;
	z-index: 1;
	overflow-x: hidden;
}
input.Command {
	color: black !important;
}
button.commandRow1 {
	background-color: #181021;
	border-radius: 25px;
	padding: 10px;
	color: white;
	z-index: 5;
	position: relative;
	top: -50px;
	right: -190px;
}

button.commandRow2 {
	background-color: #181021;
	border-radius: 25px;
	padding: 10px;
	color: white;
	z-index: 5;
	position: relative;
	top: -50px;
	right: -190px;
}

button.commandRow3 {
	background-color: #181021;
	border-radius: 25px;
	padding: 10px;
	color: white;
	z-index: 5;
	position: relative;
	top: -50px;
	right: -190px;
}

div.commandContainerSpecial {
	/*background-color: #181021;*/
	background-color: transparent !important;
	color: white;
	width: 100%;
	display: flex;
}
div.commandBlackspaceSpecial {
	/*background-color: #181021;*/
	background-color: transparent !important;
	padding: 0px 0px 20px 0px;
	flex: 33.3%;
}
div.commandsSpecial {
	background-color: #241c30;
	padding: 10px 0px 10px 0px;

	height: 100%;
	position:relative;
	z-index: 1;
	overflow-x: hidden;
}
button.commandCreate {
	background-color: #181021;
	border-radius: 50px;
	padding: 15px;
	color: white;
	position: relative;
}
button.commandRemove {
	background-color: #181021;
	border-radius: 50px;
	padding: 15px;
	color: white;
	position: relative;
}

select.command {
	color: black;
}

button.form-control.settings-button {
	background-color: #181021;
	border-radius: 25px;
	padding: 20px;
	color: white;
	line-height: 0px;
    border-width: 2px;
    border-style: outset;
    border-color: rgb(118, 118, 118) !important;
}

label.input-group-addon.settings {
	background-color: #241c30;
	color: white;
}
input#fiatnotificationamount.form-control.settings {
	background-color: #241c30;
	color: white;
}
input#lbcnotificationamount.form-control.settings {
	background-color: #241c30;
	color: white;
}
select#tipappnotification.form-control.settings {
	background-color: #241c30;
	color: white;
}
select#tipchatnotification.form-control.settings {
	background-color: #241c30;
	color: white;
}
select#language.form-control.settings {
	background-color: #241c30;
	color: white;
}
select#error_report.form-control.settings {
	background-color: #241c30;
	color: white;
}

div#do {
	width: 250px;
	position: relative;
	left: 40%;
}

button#timer {
	background-color: #181021;
	border-radius: 25px;
	padding: 10px;
	color: white;
	z-index: 5;
	position: relative;
	top: -50px;
	right: -190px;
}

div.update_chat {
	display: inline;
	position: relative;
	left: 25px;
	top: 0px;
	background-color: #241c30;
	padding: 10px 10px 10px 10px;
	border-radius: 15px;
	bottom: -16px;
	color: white;
	width: auto;
	float:left;
}

div.chat {
	float:left;
	position: relative;
	left: 27.5px;
}
input.input-chat.form-control.input-lg {
	top: 0px;
	width: 500px;
	height: 46px;
	border-radius: 15px;
	background-color: #241c30;
	color: white;
	border: none;
}
label.input-chat-send {
	background-color: #241c30;
	padding: 10px 10px 10px 10px;
	border-radius: 15px;
	color: white;
	border: none;
	height: 46px;
}

div.viewers {
	display: inline;
	position: relative;
	background-color: #241c30;
	left: 0px;
	padding: 10px 10px 10px 10px;
	border-radius: 15px;
}
div.followers {
	display: inline;
	position: relative;
	background-color: #241c30;
	margin-left: 5px;
	padding: 10px 10px 10px 10px;
	border-radius: 15px;
}
div.reaction_likes {
	display: inline;
	position: relative;
	background-color: #241c30;
	margin-left: 5px;
	padding: 10px 10px 10px 10px;
	border-radius: 15px;
}
div.reaction_dislikes {
	display: inline;
	position: relative;
	background-color: #241c30;
	margin-left: 5px;
	padding: 10px 10px 10px 10px;
	border-radius: 15px;
}
div.streamViews {
	display: inline;
	position: relative;
	background-color: #241c30;
	margin-left: 5px;
	padding: 10px 10px 10px 10px;
	border-radius: 15px;
}
div.currency {
	display: inline;
	position: relative;
	background-color: #241c30;
	margin-left: 5px;
	padding: 10px 10px 10px 10px;
	border-radius: 15px;
}
div.support_amount {
	display: inline;
	position: relative;
	background-color: #241c30;
	margin-left: 5px;
	padding: 10px 10px 10px 10px;
	border-radius: 15px;
}

span#time {
	margin-right: auto;
	display: inline-block;
	width: 80px;
}
button.menu__button {
	background-color: transparent;
	border: none;
	border-radius: 15px;
	color: grey;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
button.menu__button:hover {
	background-color: #38274c;
	border: none;
	border-radius: 15px;
	color: #d6d6d6;
}
button.menu__button:focus {
	color: #d6d6d6;
}
svg.icon.icon--MoreVertical {
	width: 18px;
	height: 18px;
    fill: none;
    stroke: currentcolor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

div.childcontainer {
	background-color: transparent;
	color: white;
	position: relative;
	margin: auto;
	height: 74.77px;
	width: auto;
}
div.superchats_wrapper {
	width: 762.06px;
	height: 74.77px;
	background-color: #241c30;
	color: white;
	padding: 5px 10px 5px 10px;
	border-radius: 15px;
	border-bottom: 1px solid #30243d;
	position: relative;
	overflow-x: scroll;
	font-size: 0.8571rem;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 10px;
}
div#livestream-superchats__inner.livestream-superchats__inner {
	display: flex;
	width: auto;
	height: 46.78px;
}
div.livestream-superchat {
	width: 120px;
	min-width: 92.78px;
	height: 46.78px;
	background-color: #fcd34d;
	margin-right: calc(2rem/4);
	padding: calc(2rem/5);
	border-radius: 10px;
	display: flex;
}

div.livestream-superchat__thumbnail {
	width: 40px;
	height: 34px;
	display: block;
}
div.channel-thumbnail {
	width: 32px;
	height: 32px;
	border-radius: 10px;
	margin-right: calc(2rem / 4);
	background-size: cover;
	display: flex;
    position: relative;
}
div.ff-container {
	width: 32px;
	height: 32px;
	width: 100%;
}
img.freezeframe-img {
	width: 32px;
	height: 32px;
	border-radius: 10px;
	transition-delay: 170ms;
}
div.channel-staked__wrapper {
	width: 21.38;
	height: 20.38;
	padding: .2rem;
    background-color: #181021;
    border-radius: 50%;
	display: flex;
    position: absolute;
    bottom: -0.75rem;
	margin-left: -5px;
}
svg.channel-staked__indicator {
	margin-left: 1px;
	fill: #00eaff;
	z-index: 3;
}
div.livestream-superchat__info {
	width: auto;
	height: 34px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--font-xsmall);
}
span.channel-name {
	font-size: 12.5px;
	color: black;
}
a.button button--no-style button--uri-indicator {
	color: black;
	width: auto;
}
span.livestream-superchat__amount {
	width: 40px;
	height: 17px;
	font-size: 12.5px;
	color: black;
}

.flex-direction {
	flex-direction: row;
}
@media screen and (max-width: 1000px) {
	.flex-direction{
		flex-direction:column;
		bottom: -30px;
	}
	.superchats_wrapper {
		top: -30px;
	}
}

input#connect.form-control {
	background-color: #181021;
	border-radius: 25px;
	padding: 6px;
	color: white;
	margin-right: 5px;
}